.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 5%;
  background-color: var(--cor-fundo);
  border-bottom: 1px solid var(--cor-borda, rgba(0, 0, 0, 0.1));
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__brand{
  background-color: var(--cor-fundo4);
  padding: 5px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__brand img {
  height: 50px;
  width: auto;
  display: block;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__link {
  font-family: var(--fonte-principal);
  font-size: 16px;
  color: var(--cor-texto1);
  text-decoration: none;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: var(--cor-texto2);
}
