:root {
  --cor-fundo: #008b8b;
  --cor-fundo2: #06767a;
  --cor-fundo3: #097d82;
  --cor-fundo4: #ffffff;
  --cor-fundo5: #1a1a1a;
  --cor-fundo6: #fafafa;
  --cor-fundo7: #cccccc;

  --cor-texto1: #ffffff;
  --cor-texto2: #1a1a1a;
  --cor-texto3: #008b8b;
  --cor-texto4: #06767a;
  --cor-texto5: #cccccc;

  --fonte-principal: "Segoe UI", Tahoma, sans-serif;
  --fonte-secundaria: inherit;
}
